div, h1, h2, span, li {
    margin : 5px;
    padding: 0px;
    display: flex;
}
body, html {
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.hidden {
    display: none;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#main_form {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main_form_up_box {
    /* border : red solid 10px; */
    flex-direction: column;
    /* width: 500px; */
    /* height: 300px; */
    align-items: center;
    justify-content: center;
}
#clock {
    color: white;
    font-weight: bold;
    font-size: 130px;
    margin: 0px;
    padding: 0px;
    /* border : blue solid 5px; */
}
#greeting{
    font-weight:normal;
    font-size: 30px;
    color: white;
    margin: 0px;
    padding: 0px;
}
#login_form{
    /* border : green solid 5px; */
}
#input_text{
    width: 210px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-right: 15px;
}
#input_text::placeholder {
    /* color : white; */
    text-align: center;
    color: black;
    margin: 0px;
    padding: 0px;
    font-size:medium;
}
#input_btn {
    height: 30px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-size:medium;
}


/* ########################################### */

#main_form_bottom_box {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    /* border : red solid 10px; */
    /* justify-content: center; */
    /* align-items: center; */
}
#bottom_box_left_box {
    /* border : blue solid 5px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#todo_form {
    width: 200px;
    border-bottom: 4px solid white;
}
#todo_form_input{
    width: 200px;
    height: 40px;
    color: black;
    font-size: large;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
#todo_form_input::placeholder {
    color : white;
    text-align: center;
}
#weather {
    display: flex;
    flex-direction: column;
    width: 200px; 
    /* height : 100px; */
    /* border: red solid 1px; */
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
}
#bottom_box_right_box{
    /* border: 5px solid blue; */
}
#todo_list{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#todo_list li{
    /* width : 150px; */
    /* margin: 10px; */
    /* padding: 0px 5px 6px 0px; */
    border-bottom: 3px solid white;
}
#todo_list li::before{
    content: "> ";
    vertical-align: middle;
}
#todo_list button {
    float: right;
    margin-bottom: 5px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

/* ########################################### */

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quote div:first-child {
    color: rgb(224, 224, 224);
    font-size: larger;
    /* width: 300px; */
    /* height: 100px; */
    /* border: red solid 10px; */
    /* background-color: gray; */
    /* color: black; */
}
#quote div:last-child {
    color: rgb(185, 185, 185);
    font-size: medium;
}
