.hidden {
    display: none;
}
.main_form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.content_box {
    border: red 5px solid;
}

.login_box {
    border: blue 5px solid;
}