.hidden {
    display: none;
}
.main_form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body, html {
    margin : 0px;
    padding: 0px;
    background-color: black;
}
.login_box {
    display: flex;
    flex-direction: row;
    padding-top: 200px;
}
#input_text{
    width: 200px;
    height: 40px;
    color: black;
    background-color: darkgrey;
    cursor: pointer;
    margin-right: 20px;
}
#input_btn {
    width: 60px;
    height: 40px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.content_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock {
    color: black;
    font-weight: bold;
    font-size: 40px;
}
#todo-list{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    list-style: none;
}

#todo-list li{
    width : 150px;
    border-bottom: 3px solid white;
    margin: 10px;
    padding: 0px 5px 6px 0px;
}
#todo-list li::before{
    content: ">  ";
    vertical-align: middle;
}
#todo-list button {
    float: right;
}

#todo-form input{
    width: 200px;
    height: 40px;
    color: white;
    cursor: pointer;
    background-color: black;
    /* margin-right: 20px; */
    border: none;
    border-radius: 10px;
    padding: 5px;
}
